@import "tailwindcss";

@theme {
  --font-sans: Work Sans, sans-serif;

  --color-bg: #fffefa;
  --color-primary: #b04b6c;
  --color-primary-dark: #993f5a;
}

@layer base {
  body {
    @apply min-h-full w-full text-primary bg-bg p-4;
  }
  
  a {
    @apply text-blue-600 visited:text-blue-900;
  }
}
